body{
padding-top:100px;
background:cyan;
color:blue;
text-align:center;
}
p{
font-style:italic;
font-weight:bold;
font-size:30px;
}
table{
color:red;
border-color:yellow;
padding:auto;
}
div{
width:200px;

}
